.expenses-filter{
    width: 100%;
    height: 10vh;
    padding: 15px;
}
.expenses-filter__control{
    display: flex;
    float: right;
    height: 100%;
    padding: 15px;
    color: white;
}
.expenses-filter__control label{
    margin: 0 4px;
    font-size: 20px;
}
.expenses-filter__control select, option{
    padding:  5px 10px;
    font-size: 18px;
}